<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 확인</title>
    <link rel="stylesheet" href="/css/create2.css">
</head>
<body>
<div class="container">
    <table>
        <tr>
            <td>
                게시판 글쓰기 완성됨.<br>
                <h3 th:text="${boardVo.id}"></h3>
                <h3 th:text="${boardVo.name}"></h3>
                <p th:text="${boardVo.content}"></p>
                <p th:text="${boardVo.email}"></p>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/board">
                    <button>게시판 페이지로</button>
                </a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
